

.input_container {
    display: flex;
    flex-direction: column;
}


.input_container > input {
    padding: 0.5rem;
    color: hsl(213, 96%, 18%);

    font-size: 1rem;
    font-weight: 700;

    border-radius: 0.2rem;
    outline: none;
}

.input_container > input:focus {
    border: 1px solid hsl(213, 96%, 18%);
    outline: none;
}

.input_container > input:required {
    border: 1px solid hsl(229, 24%, 87%);
}

.input_container > input:invalid {
    border: none;
    outline: 1px solid red;
}



.label_warning {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.label_warning > label {
    color: hsl(213, 96%, 18%)
}


.label_warning > p {
    color: red;
}


.label_warning > * {
    margin: 0;
}